apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs
spec:
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: davidalkobi/nodeapp2:latest
        ports:
        - containerPort: 3000
        env:
        - name: USER_NAME
          valueFrom: 
            configMapKeyRef: 
             name: mongodb-config
             key: MONGO_INITDB_ROOT_USERNAME
        - name: USER_PWD
          valueFrom: 
            secretKeyRef: 
              name: mongodb-secret
              key: MONGO_INITDB_ROOT_PASSWORD
        - name: DB_URL
          value: mongodb
        - name: MONGO_URL
          value: mongodb://$(USER_NAME):$(USER_PWD)@$(DB_URL):27017
                 

---
apiVersion: v1
kind: Service
metadata:
  name: my-app
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer
  


